In [11]:
import pandas as pd
import numpy as np

In [5]:
# Read in the file
Sales = pd.read_csv("salesData.csv")

In [10]:
# Exploration of the sales data
print(Sales.head(5))
#str(Sales)

# Data Understanding
    # id: identification number of customer
    # mostFreqStore: Store most frequented by the customer
    # mostFreqCat: Category most frequently purchased by the customer
    # nCats: Number of different categories
    # preferredBrand = brand purchased most frequently by  a customer
    # nBrands = Number of different brands

   id  nItems     mostFreqStore mostFreqCat  nCats preferredBrand  nBrands  \
0   1    1469          Stockton     Alcohol     72          Veina      517
1   2    1463          Stockton     Alcohol     73          Veina      482
2   3     262  Colorado Springs       Shoes     55             Bo      126
3   4     293  Colorado Springs      Bakery     50          Veina      108
4   5     108  Colorado Springs   Beverages     32             Bo       79

   nPurch  salesLast3Mon  salesThisMon  daysSinceLastPurch  meanItemPrice  \
0      82        2741.97       1283.87                   1       1.866555
1      88        2790.58       1242.60                   1       1.907437
2      56        1529.55        682.57                   1       5.837977
3      43        1765.81        730.23                   1       6.026655
4      18        1180.00        552.54                  12      10.925926

   meanShoppingCartValue  customerDuration
0              33.438659               821
1              31.711136               657
2              27.313393               548
3              41.065349               596
4              65.555556               603

In [17]:
# correlation between salesLast3Mon and salesThis =Mon
#np.corrcoef(Sales[["salesLast3Mon"]],Sales[["salesThisMon"]])
Sales.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nItems</th>
      <th>nCats</th>
      <th>nBrands</th>
      <th>nPurch</th>
      <th>salesLast3Mon</th>
      <th>salesThisMon</th>
      <th>daysSinceLastPurch</th>
      <th>meanItemPrice</th>
      <th>meanShoppingCartValue</th>
      <th>customerDuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>id</th>
      <td>1.000000</td>
      <td>-0.014602</td>
      <td>-0.012336</td>
      <td>-0.001078</td>
      <td>-0.016535</td>
      <td>-0.001235</td>
      <td>0.005339</td>
      <td>0.009681</td>
      <td>0.015166</td>
      <td>0.021478</td>
      <td>-0.005748</td>
    </tr>
    <tr>
      <th>nItems</th>
      <td>-0.014602</td>
      <td>1.000000</td>
      <td>0.848824</td>
      <td>0.941639</td>
      <td>0.670329</td>
      <td>0.893519</td>
      <td>0.710891</td>
      <td>-0.312420</td>
      <td>-0.427598</td>
      <td>-0.326788</td>
      <td>-0.000659</td>
    </tr>
    <tr>
      <th>nCats</th>
      <td>-0.012336</td>
      <td>0.848824</td>
      <td>1.000000</td>
      <td>0.903400</td>
      <td>0.595862</td>
      <td>0.884805</td>
      <td>0.670946</td>
      <td>-0.369178</td>
      <td>-0.581118</td>
      <td>-0.360019</td>
      <td>0.002648</td>
    </tr>
    <tr>
      <th>nBrands</th>
      <td>-0.001078</td>
      <td>0.941639</td>
      <td>0.903400</td>
      <td>1.000000</td>
      <td>0.635048</td>
      <td>0.894341</td>
      <td>0.696368</td>
      <td>-0.317443</td>
      <td>-0.465971</td>
      <td>-0.326674</td>
      <td>-0.004413</td>
    </tr>
    <tr>
      <th>nPurch</th>
      <td>-0.016535</td>
      <td>0.670329</td>
      <td>0.595862</td>
      <td>0.635048</td>
      <td>1.000000</td>
      <td>0.636152</td>
      <td>0.491405</td>
      <td>-0.385045</td>
      <td>-0.370471</td>
      <td>-0.647132</td>
      <td>0.015969</td>
    </tr>
    <tr>
      <th>salesLast3Mon</th>
      <td>-0.001235</td>
      <td>0.893519</td>
      <td>0.884805</td>
      <td>0.894341</td>
      <td>0.636152</td>
      <td>1.000000</td>
      <td>0.770178</td>
      <td>-0.393976</td>
      <td>-0.557172</td>
      <td>-0.345361</td>
      <td>-0.003952</td>
    </tr>
    <tr>
      <th>salesThisMon</th>
      <td>0.005339</td>
      <td>0.710891</td>
      <td>0.670946</td>
      <td>0.696368</td>
      <td>0.491405</td>
      <td>0.770178</td>
      <td>1.000000</td>
      <td>-0.264665</td>
      <td>-0.383333</td>
      <td>-0.207404</td>
      <td>0.464023</td>
    </tr>
    <tr>
      <th>daysSinceLastPurch</th>
      <td>0.009681</td>
      <td>-0.312420</td>
      <td>-0.369178</td>
      <td>-0.317443</td>
      <td>-0.385045</td>
      <td>-0.393976</td>
      <td>-0.264665</td>
      <td>1.000000</td>
      <td>0.471996</td>
      <td>0.514703</td>
      <td>-0.010922</td>
    </tr>
    <tr>
      <th>meanItemPrice</th>
      <td>0.015166</td>
      <td>-0.427598</td>
      <td>-0.581118</td>
      <td>-0.465971</td>
      <td>-0.370471</td>
      <td>-0.557172</td>
      <td>-0.383333</td>
      <td>0.471996</td>
      <td>1.000000</td>
      <td>0.404421</td>
      <td>-0.000112</td>
    </tr>
    <tr>
      <th>meanShoppingCartValue</th>
      <td>0.021478</td>
      <td>-0.326788</td>
      <td>-0.360019</td>
      <td>-0.326674</td>
      <td>-0.647132</td>
      <td>-0.345361</td>
      <td>-0.207404</td>
      <td>0.514703</td>
      <td>0.404421</td>
      <td>1.000000</td>
      <td>-0.019983</td>
    </tr>
    <tr>
      <th>customerDuration</th>
      <td>-0.005748</td>
      <td>-0.000659</td>
      <td>0.002648</td>
      <td>-0.004413</td>
      <td>0.015969</td>
      <td>-0.003952</td>
      <td>0.464023</td>
      <td>-0.010922</td>
      <td>-0.000112</td>
      <td>-0.019983</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
Sales[:10]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>nItems</th>
      <th>mostFreqStore</th>
      <th>mostFreqCat</th>
      <th>nCats</th>
      <th>preferredBrand</th>
      <th>nBrands</th>
      <th>nPurch</th>
      <th>salesLast3Mon</th>
      <th>salesThisMon</th>
      <th>daysSinceLastPurch</th>
      <th>meanItemPrice</th>
      <th>meanShoppingCartValue</th>
      <th>customerDuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1469</td>
      <td>Stockton</td>
      <td>Alcohol</td>
      <td>72</td>
      <td>Veina</td>
      <td>517</td>
      <td>82</td>
      <td>2741.97</td>
      <td>1283.87</td>
      <td>1</td>
      <td>1.866555</td>
      <td>33.438659</td>
      <td>821</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1463</td>
      <td>Stockton</td>
      <td>Alcohol</td>
      <td>73</td>
      <td>Veina</td>
      <td>482</td>
      <td>88</td>
      <td>2790.58</td>
      <td>1242.60</td>
      <td>1</td>
      <td>1.907437</td>
      <td>31.711136</td>
      <td>657</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>262</td>
      <td>Colorado Springs</td>
      <td>Shoes</td>
      <td>55</td>
      <td>Bo</td>
      <td>126</td>
      <td>56</td>
      <td>1529.55</td>
      <td>682.57</td>
      <td>1</td>
      <td>5.837977</td>
      <td>27.313393</td>
      <td>548</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>293</td>
      <td>Colorado Springs</td>
      <td>Bakery</td>
      <td>50</td>
      <td>Veina</td>
      <td>108</td>
      <td>43</td>
      <td>1765.81</td>
      <td>730.23</td>
      <td>1</td>
      <td>6.026655</td>
      <td>41.065349</td>
      <td>596</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>108</td>
      <td>Colorado Springs</td>
      <td>Beverages</td>
      <td>32</td>
      <td>Bo</td>
      <td>79</td>
      <td>18</td>
      <td>1180.00</td>
      <td>552.54</td>
      <td>12</td>
      <td>10.925926</td>
      <td>65.555556</td>
      <td>603</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>216</td>
      <td>Boston</td>
      <td>Alcohol</td>
      <td>41</td>
      <td>Bo</td>
      <td>98</td>
      <td>35</td>
      <td>1345.29</td>
      <td>662.52</td>
      <td>2</td>
      <td>6.228194</td>
      <td>38.436857</td>
      <td>673</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>174</td>
      <td>Columbus</td>
      <td>Packaged food</td>
      <td>36</td>
      <td>Bo</td>
      <td>78</td>
      <td>34</td>
      <td>1338.81</td>
      <td>621.46</td>
      <td>2</td>
      <td>7.694310</td>
      <td>39.376765</td>
      <td>612</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>122</td>
      <td>Seattle</td>
      <td>Shoes</td>
      <td>31</td>
      <td>Bo</td>
      <td>62</td>
      <td>12</td>
      <td>1256.96</td>
      <td>367.07</td>
      <td>4</td>
      <td>10.302951</td>
      <td>104.746667</td>
      <td>517</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>204</td>
      <td>Jersey</td>
      <td>Bakery</td>
      <td>41</td>
      <td>Bo</td>
      <td>99</td>
      <td>26</td>
      <td>1963.60</td>
      <td>780.78</td>
      <td>14</td>
      <td>9.625490</td>
      <td>75.523077</td>
      <td>709</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>308</td>
      <td>Seattle</td>
      <td>Alcohol</td>
      <td>52</td>
      <td>Bo</td>
      <td>103</td>
      <td>33</td>
      <td>1584.59</td>
      <td>695.52</td>
      <td>1</td>
      <td>5.144773</td>
      <td>48.017879</td>
      <td>480</td>
    </tr>
  </tbody>
</table>
</div>